@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');


html::-webkit-scrollbar {
      width: 10px;
}
html::-webkit-scrollbar-thumb {
      background-color: #666;
      border-radius: 4px;
}
html::-webkit-scrollbar-track {
      background-color: #fff;
      box-shadow: inset 0px 0px 5px white;
}
*{
      margin:0;
      padding:0;
      box-sizing: border-box;
}
body{
      font-size:18px;
      color: #333;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 400;
      letter-spacing: -1px;
}
ul, ol, li{
      list-style-type:none;
}
img, fieldset{
      border:none;
      vertical-align: middle;
}
hr{
      clear:both;
      border:none;
}
a{
      color:inherit;
      text-decoration:none
}
table{
      border-collapse:collapse;
}
input, textarea{
      color:inherit;
      font-size:inherit;
      font-family:inherit;
      vertical-align: middle;
}
#wrap{
      width: 100%;
      height: 100%;
      margin: 0 auto;
}

/* 공통적용사항 */
.vingo_color{
      color: #00b0ff;
}
/* 공통적용사항 끝 */

/* nav */
#nav{
      position: fixed;
      z-index: 10;
      left: 0;
      top: 0;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: center;
      padding: 10px 100px;
      box-shadow: 2px 2px 2px rgba(153,153,153,0.5);
      background-color: rgba(255,255,255,1);
      transition: 0.5s;
}
#nav:hover{
      background-color: rgba(255,255,255,1);
}
#nav #logo a{
      display: flex;
      flex-flow: wrap row;
      align-items: center;
}
#nav #logo img{
      width: 160px;
}
#nav #menu{
      display: flex;
      flex-flow: wrap row;
      align-items: center;
}
#nav #menu li{
      padding: 0 30px;
      border-right: 2px solid #ccc;
}
#nav #menu li:last-child{
      border-right: none;
}
#nav #menu li:hover{
	font-weight: bold;
	color: #00b0ff;
}
#nav #hambuger_box{
      display: none;
      flex-flow: wrap row;
      justify-content: center;
      align-items: center;
}
#nav #hambuger_box div{
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      height: 23px;
      width: 100px;
      cursor: pointer;
      position: relative;
}
#nav #hambuger_box div span{
      display: block;
      width: 35px;
      height: 4px;
      border-radius: 15px;
      background-color: #333;
      transition: 0.5s;
      position: absolute;
      right: 0;
}
#nav #hambuger_box div span:first-child{
      top: 0;
}
#nav #hambuger_box div span:nth-child(2){
      top: 10px;
}
#nav #hambuger_box div span:last-child{
      top: 20px;
}
#nav #hambuger_box div.on span:first-child{
      transform: rotate(45deg);
      top: 10px;
}
#nav #hambuger_box div.on span:nth-child(2){
      width: 0;
}
#nav #hambuger_box div.on span:last-child{
      transform: rotate(-45deg);
      top: 10px;
}
/* nav 끝 */

/* header */
#header{
      height: 100vh;
      overflow: hidden;
      position: relative;
      border-bottom: 5px solid #000;
      display: flex;
      flex-flow: wrap row;
      justify-content: center;
      align-items: center;
}
#header .cont_box{
      width: 100%;
      height: 100%;
}
#header .cont_box .img_box{
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
}
#header img.main_img_pc{
      position: absolute;
      bottom: 0;
      min-width: 100%;
}
#header img.main_img_mobile{
      display: none;
}
#header .txt{
      position: absolute;
      z-index: 1px;
      bottom: 0%;
      opacity: 0;
      right: 10%;
      color: #fff;
      text-align: right;
      animation-name: bar1;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-delay: 0;
}
@keyframes bar1{
      from{top: 30%;opacity: 0;}
      to{top: 10%;opacity: 100%;}
}
.txt .sub_txt{
      font-size: 38px;
      font-weight: 700;
}
.txt .main_txt{
      font-family: 'Ubuntu', sans-serif;
      font-size: 120px;
      font-weight: bold;
      letter-spacing: -5px;
      margin: -20px 0 5px 0;
}
.explanation_txt{
      position: absolute;
      right: 3%;
      bottom: 3%;
      color: rgba(255,255,255,0.8);
      font-weight: 300;
      font-size: 16px;
}
/* header 끝 */
/* line-height: 1.2em; */

#tab_cont01 .psSize {
	/* font-family: 'NGB'; */
    color: #333;
	font-size:15px;
}

#tab_cont01 .whlSize {
	/* font-family: 'NGB'; */
    color: #333;
	font-size:14px;
}
#tab_cont01 .monthPrice {
	color:#333;
	font-size:14px;
	/* font-weight: 700; */
	/* font-family: 'RB','NGB'; */
}

/* sec01 */
#sec01{
      height: 100vh;
      display: flex;
      flex-flow: wrap row;
}
#sec01 .Characteristics_box{
      width: calc(100% / 3);
      position: relative;
      overflow: hidden;
      height: 100vh;
      display: flex;
      flex-flow: wrap row;
      align-items: center;
      justify-content: center;
      background-color: #000;
}
#sec01 .Characteristics_box img{
      transition: 1s;
      min-width: 100%;
      height: 110%;
      position: absolute;
}
#sec01 .bk_box{
      background-color: rgba(0,0,0,0.7);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      transition: 0.5s;
}
#sec01 .bk_box .text_box{
      color: #fff;
      margin-bottom: 110px;
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 100%;
}
#sec01 .bk_box .text_box .main{
      font-size: 30px;
      font-weight: bold;
      position: absolute;
      bottom: 0;
      left: 10%;
      transition: 1s;
}
#sec01 .bk_box .text_box .sub{
      font-weight: 300;
      margin-top: 30px;
      display: none;
      position: absolute;
      bottom: 0;
      left: 10%;
}
/* sec01 끝 */

/* sec02 */
#sec02{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      height: 100vh;
      overflow: hidden;
      background-color: #F9FAFB;
}
#sec02 .cont_box{
      max-width:1400px;
      width: 100%;
      display: flex;
      flex-flow: row-reverse wrap;
      justify-content: space-between;
      align-items: center;
}
#sec02 h2 img{
      width: 80%;
      opacity: 100%;
}
#sec02 img{
      width: 60%;
      opacity: 0;
}
#sec02 .cont_box div{
      width: 40%;
}
#sec02 .cont_box div h2{
      font-family: 'Ubuntu', sans-serif;
      font-size: 80px;
      font-weight: bold;
      letter-spacing: -5px;
      margin-bottom: 20px;
}
.moreBtn{
      font-size: 15px;
      margin-top: 20px;
      font-weight: bold;
      color: #2251A1;
}
.moreBtn_sv{
	border-radius: 10px 0;
	border: 1px solid #fff;
	padding: 10px;
	font-size: 15px;
	font-weight: 700;
    color: #fff;
    transition: 0.5s background-color;
}
.moreBtn_sv:hover{
	border-radius: 10px 0;
	border: 1px solid #fff;
	background-color: #fff;
	padding: 10px;
	font-size: 15px;
	font-weight: 700;
	color: #000;
	transition: 0.5s background-color;
}
/* sec02 끝 */

/* 렌탈 버튼 */
.btn-gradient {
	text-decoration: none;
	color: white;
	padding: 10px 30px;
	display: inline-block;
	position: relative;
	
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 5px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.btn-gradient.cyan {
	background: rgba(27,188,194,1);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(27,188,194,1)), to(rgba(24,163,168,1)));
	background: -webkit-linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
	background: -moz-linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
	background: -o-linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
	background: linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1bbcc2', endColorstr='#18a3a8', GradientType=0);
}

.btn-gradient.red{ 
	background: rgba(250,90,90,1);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(250,90,90,1)), to(rgba(232,81,81,1)));
	background: -webkit-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
	background: -moz-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
	background: -o-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
	background: linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5a5a', endColorstr='#e85151', GradientType=0 );
}
.btn-gradient.orange {
	background: rgba(255,105,30,1);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,105,30,1)), to(rgba(230,95,28,1)));
	background: -webkit-linear-gradient(rgba(255,105,30,1) 0%, rgba(230,95,28,1) 100%);
	background: -moz-linear-gradient(rgba(255,105,30,1) 0%, rgba(230,95,28,1) 100%);
	background: -o-linear-gradient(rgba(255,105,30,1) 0%, rgba(230,95,28,1) 100%);
	background: linear-gradient(rgba(255,105,30,1) 0%, rgba(230,95,28,1) 100%);
}
.btn-gradient.blue {
	background: rgba(102,152,203,1);
	background: -moz-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,152,203,1)), color-stop(100%, rgba(92,138,184,1)));
	background: -webkit-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
	background: -o-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
	background: -ms-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
	background: linear-gradient(to bottom, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6698cb', endColorstr='#5c8ab8', GradientType=0 );
}
.btn-gradient.purple { 
	background: rgba(203,153,197,1);
	background: -moz-linear-gradient(top, rgba(203,153,197,1) 0%, rgba(181,134,176,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203,153,197,1)), color-stop(100%, rgba(181,134,176,1)));
	background: -webkit-linear-gradient(top, rgba(203,153,197,1) 0%, rgba(181,134,176,1) 100%);
	background: -o-linear-gradient(top, rgba(203,153,197,1) 0%, rgba(181,134,176,1) 100%);
	background: -ms-linear-gradient(top, rgba(203,153,197,1) 0%, rgba(181,134,176,1) 100%);
	background: linear-gradient(to bottom, rgba(203,153,197,1) 0%, rgba(181,134,176,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb99c5', endColorstr='#b586b0', GradientType=0 );
}
.btn-gradient.yellow {
	background: rgba(240,210,100,1);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(240,210,100,1)), to(rgba(229,201,96,1)));
	background: -webkit-linear-gradient(rgba(240,210,100,1) 0%, rgba(229,201,96,1) 100%);
	background: -moz-linear-gradient(rgba(240,210,100,1) 0%, rgba(229,201,96,1) 100%);
	background: -o-linear-gradient(rgba(240,210,100,1) 0%, rgba(229,201,96,1) 100%);
	background: linear-gradient(rgba(240,210,100,1) 0%, rgba(229,201,96,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0d264', endColorstr='#e5c960', GradientType=0 );
}
.btn-gradient.green {
	background: #00b0ff;
	/* background: -moz-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(130,200,160,1)), color-stop(100%, rgba(130,199,158,1)));
	background: -webkit-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%);
	background: -o-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%);
	background: -ms-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%);
	background: linear-gradient(to bottom, rgba(130,200,160,1) 0%, rgba(124, 185, 149, 1) 100%); */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82c8a0', endColorstr='#82c79e', GradientType=0 );
}

.btn-gradient.red:active 	  {background: #E35252;}
.btn-gradient.orange:active {background: #E8601B;}
.btn-gradient.cyan:active 	{background: #169499;}
.btn-gradient.blue:active 	{background: #608FBF;}
.btn-gradient.purple:active {background: #BD8EB7;}
.btn-gradient.yellow:active {background: #DBC05B;}
.btn-gradient.green:active  {background: #00b0ff;}
.btn.mini, 
.btn-two.mini, 
.btn-gradient.mini, 
.btn-effect.mini {
  padding: 4px 12px;  
  font-size: 12px;
}

/* sec03 */
#sec03 .unit{
      font-size: 15px;
      margin-left: 3px;
}
#sec03{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      height: 100vh;
      overflow: hidden;
}
#sec03 .cont_box{
      max-width: 1400px;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
}
#sec03 .cont_box .tab_content_box{
      width: 40%;
}
#sec03 .cont_box .tab_img_box{
      width: 45%;
}
#sec03 .cont_box .tab_img_box img{
      width: 100%;
}
#sec03 .sec_tit{
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
}
#sec03 .sec_sub{
      margin-bottom: 70px;
      text-align: center;
}
#sec03 #tab_btn_box{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 50px;
      font-family: 'Ubuntu', sans-serif;
}
#sec03 #tab_btn_box .tab_btn{
      padding: 5px 20px;
      cursor: pointer;
      transition: 0.3s;
      margin: 0 20px;
      text-align: center;
}
#sec03 #tab_btn_box .tab_btn span{
	font-size: 20px;
	font-weight: normal;
}
#sec03 #tab_btn_box .tab_btn.on_tab{
      border-bottom: 10px solid #00b0ff;
      border-radius: 5px;
}
#sec03 .tab_cont table{
      width: 90%;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
      overflow: hidden;
      box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
      margin: 0 auto;
}
#sec03 .tab_cont table.container_size{
      margin-bottom: 30px;
}
#sec03 .tab_cont table th{
      background-color: #00b0ff;
      color: #fff;
      font-weight: 400;
      text-align: center;
      padding: 10px 0;
}
/* #sec03 .tab_cont table.container_size th{
      width: calc(100% / 4);
} */
#sec03 .tab_cont table.container_etc th{
      width: calc(100% / 3);
}
#sec03 .tab_cont table td{
      text-align: center;
      padding: 10px 0;
      border: 1px solid #f5f5f5;
}
#tab_cont02, #tab_cont03{
      display: none;
}
#tab_img02, #tab_img03{
      display: none;
}
/* sec03 끝*/

/* sec04 */
#sec04 .unit{
      font-size: 15px;
      margin-left: 3px;
      color: #999;
}
#sec04{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      height: auto;
      overflow: hidden;
      background-color: #F9FAFB;
      position: relative;
}
#sec04 .cont_box{
      width:100%;
      max-width: 1400px;
      height: 100%;
      padding: 100px 0;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: center;
}
#sec04 .item_box01{
      display: flex;
      flex-flow: wrap row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 100px;
}
#sec04 .item_box01 .item{
      width: 23.5%;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      position: relative;
}
#sec04 .item_box01 .item div{
      border: 3px solid #00b0ff;
      border-radius: 50%;
      width: 250px;
      height: 250px;
      display: flex;
      flex-flow: wrap row;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      background-color: #fff;
}
#sec04 .item_box01 .item h3{
      font-size: 30px;
      margin-bottom: 10px;
}
#sec04 .item_box01 .item h3 span{
      display: none;
}
#sec04 .item_box01 .item p{
      font-size: 16px;
      text-align: center;
}
#sec04 .item_box01 .arr_box{
      width: 2%;
      margin-bottom: 120px;
      opacity: 0;
}
#sec04 .item_box02 h3{
      font-size: 30px;
      margin-bottom: 10px;
      text-align: center;
}
#sec04 .item_box02 h3 span{
      color: #00b0ff;
}
#sec04 .item_box02 h3 span span{
      font-size: 40px;
      font-weight: bold;
}
#sec04 .item_box02 ul li{
      line-height: 30px;
      list-style: disc;    
}
/* sec04 끝 */

/* sec05 */
#sec05{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      height: 100vh;
      overflow: hidden;
}
#sec05 .cont_box{
      width: 1200px;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      position: relative;
}
#sec05 .sec_tit{
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
      font-family: 'Ubuntu', sans-serif;
      letter-spacing: -3px;
}
#sec05 .sec_tit span{
      color: #00b0ff;
}
#sec05 .sec_sub{
      text-align: center;
      margin-bottom: 50px;
}
#sec05 ul{
      width: 100%;
      display: flex;
      flex-flow: row wrap;
}
#sec05 ul li{
      width: 20%;
      height: 100px;
      display: flex;
      flex-flow: wrap row;
      justify-content: center;
      align-items: center;
}
#sec05 ul li img{
      width: 100%;
      transition: 0.5s;
}
#sec05 ul li:hover img{
      width: 120%;
}
/* sec05 끝 */

/* sec06 */
#sec06{
      padding: 50px 30px;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      background-color: #F9FAFB;
      height: auto;
      overflow: hidden;
}
#sec06 .cont_box{
      max-width: 1200px;
      width: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
}
#sec06 .sec_tit{
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 80px;
}
#sec06 .qa_box{
      width: 100%;
      background-color: #fff;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
      box-shadow: 5px 5px 10px #999;
      margin-bottom: 10px;
      position: relative;
}
#sec06 .qa_box .question_box{
      box-sizing: border-box;
      width: 100%;
      background-color: #2251A1;
      color: #fff;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      padding: 15px 30px;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
      box-shadow: 5px 5px 10px #999;
      font-size: 20px;
      cursor: pointer;
}
#sec06 .qa_box .question_box img{
      width: 25px;
}
#sec06 .qa_box .answer_back{
      display: none;
}
#sec06 .qa_box .answer_box{
      padding: 25px 70px;
      display: flex;
      flex-flow: wrap row;
}
#sec06 .qa_box .answer_box .answer_tit{
      width: 25px;
}
#sec06 .qa_box .answer_box .answer{
      width: calc(100% - 25px);
}
#sec06 .qa_box .answer_box .answer span{
      font-size: 15px;
      color: #999;
}
/* sec06 끝*/


.inquiry_btna{
      width: 80px;
      height: 50px;
      border: 6px solid #00b0ff;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
      margin-bottom: 40px;
      display: flex;
      flex-flow: wrap row;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;
      box-shadow: 5px 5px 10px #aeaeae;
}
.inquiry_btna span{
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: #00b0ff;
      transition: 0.5s;
      transition-timing-function: ease;
      opacity: 0;
}
.inquiry_btna:hover span{
      width: 280px;
      height: 280px;
      opacity: 100;
}
.inquiry_btna:hover p{
      color: #ffffff;
}
.inquiry_btna p{
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      color: #00b0ff;
      z-index: 1;
      transition: 0.3s;
}


/* sec07 */
#sec07{
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      height: 35vh;
      overflow: hidden;
}
#sec07 .cont_box{
      max-width: 1400px;
      width: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
}
#sec07 .inquiry_btn{
      width: 250px;
      height: 70px;
      border: 6px solid #00b0ff;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
      margin-bottom: 40px;
      display: flex;
      flex-flow: wrap row;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;
      box-shadow: 5px 5px 10px #aeaeae;
}
#sec07 .inquiry_btn span{
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: #00b0ff;
      transition: 0.5s;
      transition-timing-function: ease;
      opacity: 0;
}
#sec07 .inquiry_btn:hover span{
      width: 280px;
      height: 280px;
      opacity: 100;
}
#sec07 .inquiry_btn:hover p{
      color: #ffffff;
}
#sec07 .inquiry_btn p{
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: #00b0ff;
      z-index: 1;
      transition: 0.3s;
}
#sec07 .sec_sub{
      text-align: center;
}
/* sec07 끝 */

/* footer */
#footer{
      padding: 0 30px;
      background-color: #333;
      color: #ccc;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      height: auto;
      overflow: hidden;
}
#footer .cont_box{
      max-width: 1400px;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
}
#footer .cont_box .info_box{
      display: flex;
      flex-flow: wrap column;
      justify-content: space-between;
      font-size: 16px;
      margin: 30px 0;
}
#footer .cont_box .info{
      margin-bottom: 40px;
}
#footer .cont_box .info p{
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      line-height: 30px;
}
#footer .cont_box .info p span{
      display: block;
      width: 1.5px;
      height: 14px;
      background-color: #666;
      margin: 0 15px;
}
#footer .cont_box .footer_icon{
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      margin-bottom: 40px;
}
#footer .cont_box .footer_icon ul{
      width: auto;
      display: flex;
      flex-flow: wrap row;
      justify-content: center;
      align-items: center;
}
#footer .cont_box .footer_icon ul li img{
      width: 60px;
      margin: 0 10px;
}
#footer .cont_box .copyright{
      color: #999;
}
#footer .cont_box .cs_box{
      display: flex;
      flex-flow: wrap row;
      justify-content: center;
      align-items: center;
      height: 150px;
      margin-top: 30px;
}
#footer .cont_box .cs_box .cs a{
      display: flex;
      flex-flow: wrap row;
      align-items: center;
      justify-content: center;
      width: 100%;
}
#footer .cont_box .cs_box .cs#cs_tel{
      border-right: 1px solid #666;
      margin-right: 30px;
      padding-right: 30px;
}
#footer .cont_box .cs_box .cs_tit{
      font-size: 20px;
      font-weight: 400;
      margin-bottom: -5px;
      color: #fff;
}
#footer .cont_box .cs_box .cs_main{
      font-weight: bold;
      font-size: 30px;
      color: #fff;
}
#footer .cont_box .cs_box .cs_sub{
      font-size: 16px;
}    
#footer .cont_box .cs_box .cs img{
      width: 80px;
      margin-right:20px;
}
/* footer 끝 */

button {
	cursor: pointer;
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
    border-radius: 5px;
    border-bottom: 2px solid rgba(0,0,0,0.21);
}
button:hover {
	cursor: pointer;
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
    border-bottom: 2px solid rgba(0,0,0,0.21);
}

button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;   
}

/* popup_btn */
#popup_btn_box{
      display: none;
}
#popup_btn{
      border: 5px solid #00b0ff;
      width: 105px;
      height: 105px;
      background-color: #fff;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
      display: flex;
      flex-flow: wrap row;
      justify-content: center;
      align-items: center;
      position: fixed;
      right: 30px;
      bottom: 30px;
      cursor: pointer;
      overflow: hidden;
}
#popup_btn span{
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: #00b0ff;
      transition: 0.5s;
      transition-timing-function: ease;
      opacity: 0;
}
#popup_btn:hover span{
      width: 150px;
      height: 150px;
      opacity: 100;
}
#popup_btn p{
      line-height: 75px;
      font-size: 20px;
      font-weight: bold;
      color: #00b0ff;
      z-index: 1;
      transition: 0.3s;
}
#popup_btn p a{
      display: block;
}
#popup_btn:hover p{
      color: #ffffff;
}
/* popup_btn 끝*/  



/************** 테블릿 반응형 ************/

@media all and (max-width:1024px){
    /* nav */
    #nav{
          padding: 10px 30px;
    }
    /* nav 끝 */

    #header{
          height: 100vh;
    }
    #header img.main_img_pc{
          display: none;
    }
    #header img.main_img_mobile{
          display: block;
          width: 110%;
          position: absolute;
          left: 0;
          bottom: 0;
    }
    #header .txt{
          position: absolute;
          z-index: 1px;
          bottom: 0%;
          opacity: 0;
          right: 10%;
          color: #fff;
          text-align: right;
          animation-name: bar1;
          animation-duration: 1s;
          animation-fill-mode: forwards;
          animation-delay: 0;
    }
    @keyframes bar1{
          from{top: 30%;opacity: 0;}
          to{top: 15%;opacity: 100%;}
    }
    /* sec01 */
    #sec01{
          flex-flow: wrap column;
    }
    #sec01 .Characteristics_box{
          width: 100%;
          position: relative;
          height: calc(100vh / 3);
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
    }
    #sec01 .Characteristics_box img{
          position: absolute;
    }
    #sec01 .Characteristics_box img{
          height: auto;
    }
    #sec01 .bk_box .text_box{
          margin-bottom: 30px;
    }
    /* sec01 끝 */

    /* sec02 */
    #sec02{
          height: auto;
          padding: 100px 0 50px 0;
    }
    #sec02 .cont_box{
          width: 100%;
          flex-flow: column wrap;
    }
    #sec02 h2 img{
          width: 50%;
    }
    #sec02 img{
          width: auto;
    }
    #sec02 .cont_box div{
          width: 100%;
          text-align: center;
    }
    /* sec02 끝 */

    /* sec03 */
    #sec03 .unit{
          font-size: 15px;
          margin-left: 3px;
    }
    #sec03{
          height: auto;
    }
    #sec03 .cont_box{
          width: 100%;
          padding: 100px 0;
          justify-content: center;
          position: relative;
    }
    #sec03 .cont_box .tab_content_box{
          width: 100%;
    }
    #sec03 .sec_sub{
          margin-bottom: 550px;
    }
    #sec03 .tab_cont table{
          width: 70%;
    }
    .tab_img_box{
          position: absolute;
          top: 300px;
          min-width: 700px;
          width: 100%;
    }
    
    /* sec03 끝*/

    /* sec04 */
    #sec04{
          height: 100%;
          padding: 100px 0;
    }
    #sec04 .cont_box{
          width: 100%;
          height: 100%;
          padding: 0;
    }
    #sec04 .item_box01{
          min-width: 750px;
          margin-bottom: 100px
    }
    #sec04 .item_box01 .item{
          width: 50%;
          height: 420px;
    }
    #sec04 .item_box01 .item h3 span{
          display: inline-block;
          margin-right: 5px;
    }
    #sec04 .item_box01 .arr_box{
          display: none;
    }
    #item01{
          padding-left: 70px;
    }
    #item02{
          padding-right: 70px;
    }
    #item03{
          padding-left: 70px;
    }
    #item04{
          padding-right: 70px;
    }
    /* sec04 끝 */

    /* sec05 */
    #sec05{
          height: auto;
          padding: 100px 0;
    }
    #sec05 .cont_box{
          width: 90%;
    }
    #sec05 .sec_sub{
          margin-bottom: 30px;
    }
    #sec05 .sec_tit span{
          color: #00b0ff;
    }
    /* sec05 끝 */

    /* sec06 */
    #sec06{
          height: auto;
          padding: 100px 0;
    }
    #sec06 .cont_box{
          width: 80%;
    }
    /* sec06 끝*/

    /* sec07 */
    #sec07{
          height: auto;
          padding: 100px 0;
    }
    #sec07 .cont_box{
          width: 100%;
    }
    /* sec07 끝 */

    /* footer */
    #footer{
          height:auto;
          padding-left: 30px;
    }
    #footer .cont_box{
          width: 100%;
          flex-flow: wrap column-reverse;
    }
    #footer .cont_box .info_box{
          width: auto;
    }
    #footer .cont_box .cs_box{
          justify-content: left;
          margin-bottom: 50px;
    }
    /* footer 끝 */

    /* popup_btn */
    #popup_btn{
          width: 90px;
          height: 90px;
    }
    #popup_btn p{
          font-size: 18px;
    }
    /* popup_btn 끝*/  

}

@media all and (max-width:500px){

      /* nav */
     #nav{
           padding: 10px 30px;
     }
     #nav #logo{
           width: 50%;
     }
     #nav #logo a{
           display: flex;
           flex-flow: wrap row;
           align-items: center;
     }
     #nav #logo img{
           width: 160px;
     }
     #nav #menu{
           border-top: 1px solid #f1f1f1;
           margin-top: 20px;
           padding-top: 10px;
           width: 100%;
           display: none;
     }
     #nav #menu li{
           text-align: right;
           padding: 10px 0px;
border-right: none
     }
     #nav #hambuger_box{
           display: flex;
           flex-flow: wrap row;
           justify-content: center;
           align-items: center;
     }
     /* nav 끝 */

    /* header */
    #header img.main_img_pc{
          display: none;
    }
    #header img.main_img_mobile{
          display: block;
          width: 110%;
          position: absolute;
          left: 0;
          bottom: 0;
    }
    #header .txt{
          right: 5%;
    }
    @keyframes bar1{
          from{top: 30%;opacity: 0;}
          to{top: 15%;opacity: 100%;}
    }
    .txt .sub_txt{
          font-size: 20px;
    }
    .txt .main_txt{
          font-size: 75px;
          margin: -10px 0 10px 0;
    }
    .txt .detail_txt{
          font-size: 16px;
    }
    .explanation_txt{
          display: none;
    }
    /* header 끝 */

    /* sec01 */
    #sec01 .bk_box .text_box{
          left: 5%;
    }
    #sec01 .bk_box .text_box .main{
          font-size: 23px;
          left: 2%;
    }
    #sec01 .bk_box .text_box .sub{
          font-size: 16px;
          left: 2%;
    }
    /* sec01 끝 */

    /* sec02 */
    #sec02{
          height: auto;
          padding: 100px 20px 50px 20px;
          width: 100%
    }
    #sec02 .cont_box{
          height: 100%;
          position: relative;
          align-items: flex-start;
    }
    #sec02 h2 img{
          left: 10px;
          width: 80%;
    }
    #sec02 img{
          position: relative;
          width: 250%;
          left: -120%;
    }
    #sec02 .cont_box div h2{
          font-size: 50px;
    }
    #sec02 .cont_box div p{
          font-size: 15px;
    }
    /* sec02 끝 */

    /* sec03 */
    #sec03{
          height: auto;
          padding: 0;
    }
    #sec03 .sec_tit{
          font-size: 40px;
    }
    #sec03 .sec_sub{
          font-size: 15px;
          margin-bottom: 250px;
    }
    #sec03 #tab_btn_box{
          width: 100%;
          margin-bottom: 30px;
          margin-top: 10px;
    }
    #sec03 #tab_btn_box .tab_btn{
          padding: 5px 20px;
          cursor: pointer;
          transition: 0.3s;
          margin: 0px 5px;
          font-size: 25px;
    }
    #sec03 .tab_cont table{
          width: 85%;
          font-size: 16px;
    }
    .tab_img_box{
          top: 22%;
          min-width: 300px;
    }
    .tab_img_box img{
          min-width:100%
    }
    /* sec03 끝*/

    /* sec04 */
    #sec04{
          padding: 50px 0;
          height: auto;
    }
    #sec04 .cont_box{
          width: 100%;
          padding: 30px;
    }
    #sec04 .item_box01{
          top: 30px;
          min-width: 100%;
          margin-bottom: 30px;
    }
    #sec04 .item_box01 .item{
          width: 100%;
          height: 200px;
          margin-bottom: 30px;
    }
    #sec04 .item_box01 .item div{
          width: 80px;
          height: 80px;
    }
    #sec04 .item_box01 .item div img{
          width: 50%;
    }
    #sec04 .item_box01 .item h3{
          font-size: 22px;
          margin-bottom: 10px;
    }
    #sec04 .item_box01 .item h3 span{
          display: inline-block;
          margin-right: 5px;
    }
    #sec04 .item_box01 .item p{
          font-size: 15px;
    }
    #sec04 .item_box01 .arr_box{
          display: none;
    }
    #item01{
          padding-left: 0px;
    }
    #item02{
          padding-right: 0px;
    }
    #item03{
          padding-left: 0px;
    }
    #item04{
          padding-right: 0px;
    }
    #sec04 .item_box02{
          bottom: 50px;
    }
    #sec04 .item_box02 h3{
          font-size: 25px;
    }
    #sec04 .item_box02 h3 span span{
          font-size: 35px;
    }
    #sec04 .item_box02 ul{
          width: 100%;
          padding: 0 30px;
    }
    #sec04 .item_box02 ul li{
          line-height: 25px;
          font-size: 14.5px;
    }
    /* sec04 끝 */

    /* sec05 */
    #sec05 .sec_tit{
          font-size: 50px;
    }
    #sec05 .sec_sub{
          font-size: 16px;
          text-align: center;
    }
    #sec05 ul li{
          width: 50%;
          height: 100px;
    }
    /* sec05 끝 */

    /* sec06 */
    #sec06{
          padding: 30px 0;
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          align-items: center;
          background-color: #F9FAFB;
          min-height: 110vh;
          height: auto;
          overflow: hidden;
    }
    #sec06 .sec_tit{
          font-size: 40px;
          margin-bottom: 50px;
    }
    #sec06 .qa_box{
          width: 100%;
          background-color: #fff;
          border-top-left-radius: 15px;
          border-bottom-right-radius: 15px;
          box-shadow: 5px 5px 10px #999;
          margin-bottom: 10px;
          opacity: 0;
          position: relative;
    }
    #sec06 .qa_box .question_box{
          padding: 15px 20px;
          font-size: 15px;
    }
    #sec06 .qa_box .question_box p{
          width: 90%;
    }
    #sec06 .qa_box .question_box img{
          width: 15px;
    }
    #sec06 .qa_box .answer_back{
          display: none;
    }
    #sec06 .qa_box .answer_box{
          font-size: 15px;
          padding: 20px 30px;
          display: flex;
          flex-flow: wrap row;
    }
    #sec06 .qa_box .answer_box .answer_tit{
          width: 25px;
          margin-right: -10px;
    }
    #sec06 .qa_box .answer_box .answer{
          width: calc(100% - 25px);
    }
    #sec06 .qa_box .answer_box .answer span{
          font-size: 15px;
          color: #999;
    }
    /* sec06 끝*/

    /* sec07 */
    #sec07{
          height: 30vh;
    }
    #sec07 .cont_box{
          width: 100%;
    }
    #sec07 .inquiry_btn{
          margin-bottom: 30px;
          width: 200px;
          height: 60px;
    }
    #sec07 .inquiry_btn span{
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          border-radius: 50%;
          background-color: #00b0ff;
          transition: 0.5s;
          transition-timing-function: ease;
          opacity: 0;
    }
    #sec07 .inquiry_btn:hover span{
          width: 280px;
          height: 280px;
          opacity: 100;
    }
    #sec07 .inquiry_btn p{
          text-align: center;
          font-size: 18px;
          font-weight: bold;
          color: #00b0ff;
          z-index: 1;
          transition: 0.3s;
    }
    
   
    
    #sec07 .sec_sub{
          text-align: center;
          font-size: 15px;
    }
    /* sec07 끝 */

   
    /* footer */
    #footer{
          padding: 0 20px;
          height: auto;
    }
    #footer .cont_box .info_box{
          margin: 30px 0;
    }
    #footer .cont_box .info{
          font-size: 13px;
    }
    #footer .cont_box .info p span{
          margin: 0 10px;
    }
    #footer .cont_box .footer_icon ul li img{
          width: 40px;
    }
    #footer .cont_box .copyright{
          font-size: 13px;
    }
    #footer .cont_box .cs_box{
          height: auto;
          margin-top: 30px;
          margin-bottom: 0px;
          border-bottom: 1px solid #666;
          padding-bottom: 30px;
    }
    #footer .cont_box .cs_box .cs a{
          display: flex;
          flex-flow: wrap row;
          align-items: center;
          justify-content: flex-start;
    }
    #footer .cont_box .cs_box .cs#cs_tel{
          width: 100%;
          border-right: none;
          margin-right: 0px;
          margin-bottom: 20px;
          padding-right: 0px;
    }
    #footer .cont_box .cs_box .cs_tit{
          font-size: 18px;
    }
    #footer .cont_box .cs_box .cs_main{
          font-size: 25px;
    }
    #footer .cont_box .cs_box .cs_sub{
          font-size: 14px;
    }    
    #footer .cont_box .cs_box .cs img{
          display: none;
    }
    /* footer 끝 */

    /* popup_btn */
    #popup_btn{
          display: none;
    }
    /* popup_btn 끝*/  
    
    
   /*체크박스
.agree input[type=checkbox] {display:none;}
.agree input[type=checkbox] + label {position:relative; display:inline-block; cursor:pointer; padding-left:25px; font-size:15px; line-height: 25px; color: #333;}
.agree input[type=checkbox] + label:before {position:absolute; left:0; top:3px; display:inline-block; width:20px; height:20px; overflow: hidden; background-image: url("../_img/resource/check.png"); background-size: 60%; background-position: center; background-repeat: no-repeat; content: ''; border: 1px solid #c3cbd2; border-radius: 3px; box-sizing: border-box; background-color: #fff;}
.agree input[type=checkbox]:checked + label:before {content: ""; background-color: #da291c !important; border-color:#da291c; background-image: url("../_img/resource/check-on.png");}

@media screen and (max-width: 768px) {
	.agree input[type=checkbox] + label {font-size: 14px; line-height: 17px; padding-left: 22px;}
	.agree input[type=checkbox] + label:before {width:17px; height: 17px; top: 0;}
}*/

}