@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Ubuntu:wght@700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Ubuntu', sans-serif; */


*{margin:0;padding:0;box-sizing: border-box;}
body{font-size:18px;color: #333;font-family: 'Noto Sans KR', sans-serif;font-weight: 400;letter-spacing: -1px;background-color: #D3E0F5;}
ul, ol, li{list-style-type:none;}
img, fieldset{border:none;vertical-align: middle;}
a{color:inherit;text-decoration:none;}
table{border-collapse:collapse;}
input, textarea{color:inherit;font-size:inherit;font-family:inherit;vertical-align: middle;}
button{font-size:18px;color: #333;font-family: 'Noto Sans KR', sans-serif;font-weight: 400;letter-spacing: -1px;}

.c_red{color:red; margin-right: 5px;}


/********************/
/*       hoon       */
/********************/
.row_flex{display: flex;flex-flow: row wrap;}
.column_flex{display: flex;flex-flow: column wrap;}
.vingo_font{font-family: 'Ubuntu', sans-serif; font-weight: 700;}
/********************/
/*     hoon end     */
/********************/

#wrap{
      width: 100%;
      max-width: 1000px;
      height: 100%;
      margin: 0 auto;
}
#header{
      width: 100%;
      max-width: 1000px;
      margin-top: 20px;
      padding: 20px 30px;
      background-color: #fff;
      box-shadow: 3px 3px 20px rgba(69, 94, 234, 0.3); 
      border-radius: 10px;
      align-items: center;
      justify-content: space-between;
}
#header img{
      width: 200px;
}
#header h2{
      font-size: 30px;
      color: #2251A1;
}
#header h2.end{
      text-align: right;
      line-height:30px;
}
#header h2 span{
      font-size: 18px;
      font-weight: normal;
      color: #666;
      line-height: 10px;
}
section{
      width: 100%;
      margin-top: 10px;
      padding: 20px;
      background-color: #F4F7FF;
      box-shadow: 3px 3px 20px rgba(69, 94, 234, 0.3); 
      border-radius: 10px;
}
@media all and (max-width:1000px){
      #wrap{
            max-width: 500px;
      }
      #header{
            max-width: 500px;
            padding: 10px 20px;
      }
      #header img{
            margin-bottom: 5px;
      }
      #header h2.end{
            margin-bottom: 0px;
      }
      section{
            padding: 10px;
            margin-bottom: 20px;
      }
}
@media all and (max-width:500px){
      #wrap{
            width: 90%;
      }
      #header{
            max-width: 500px;
            padding: 10px 20px;
      }
      #header img{
            width: 170px;
      }
      #header h2{
            font-size: 25px;
      }
      #header h2.end{
            text-align: left;
            margin-bottom: 0px;
      }
      #header h2 span{
            font-size: 16px;
      }
}