@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

*{margin:0;padding:0;box-sizing: border-box;}
body{font-size:18px;color: #333;font-family: 'Noto Sans KR', sans-serif;font-weight: 400;-ms-overflow-style: none;letter-spacing: -1px;}
::-webkit-scrollbar{display: none;}
ul, ol, li{list-style-type:none;}
img, fieldset{border:none;vertical-align: middle;}
hr{clear:both;border:none;}
a{color:inherit;text-decoration:none}
table{border-collapse:collapse;}
input, textarea{color:inherit;font-size:inherit;font-family:inherit;vertical-align: middle;}
#wrap{width: 100%;height: 100%;margin: 0 auto;}

/* 공통적용사항 */
.vingo_color{color: #00b0ff;}
.vingo_font{font-family: 'Ubuntu', sans-serif}

.bwv_flexRow{display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-orient: horizontal; -ms-flex-direction: row; flex-direction: row;-webkit-box-lines: multiple; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.bwv_flexCulumn{display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-orient: vertical; -ms-flex-direction: column; flex-direction: column;-webkit-box-lines: multiple; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.bwv_justifyContentStart{-webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start;}
.bwv_justifyContentEnd{-webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end;}
.bwv_justifyContentCenter{-webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}
.bwv_justifyContentBetween{-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.bwv_alignItemsStart{-webkit-box-align: start; -ms-flex-align: start; align-items: flex-start;} 
.bwv_alignItemsEnd{-webkit-box-align: end; -ms-flex-align: end; align-items: flex-end;}
.bwv_alignItemsCenter{-webkit-box-align: center; -ms-flex-align: center; align-items: center;}

/* 공통적용사항 끝 */

#wrap{
      width: 100%;
      height: 100%;
      min-width: 360px;
      margin: 0 auto;
}

/* nav */
#nav{
      position: fixed;
      z-index: 10;
      left: 0;
      top: 0;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: center;
      padding: 10px 100px;
      box-shadow: 2px 2px 2px rgba(153,153,153,0.5);
      background-color: rgba(255,255,255,0.7);
      transition: 0.5s;
}
#nav:hover{
      background-color: rgba(255,255,255,1);
}
#nav #logo a{
      display: flex;
      flex-flow: wrap row;
      align-items: center;
}
#nav #logo img{
      width: 160px;
}
#nav #menu{
      display: flex;
      flex-flow: wrap row;
      align-items: center;
}
#nav #menu li{
      padding: 0 30px;
      border-right: 2px solid #ccc;
}

#nav #menu li:last-child{
      border-right: none;
}
#nav #hambuger_box{
      display: none;
      flex-flow: wrap row;
      justify-content: center;
      align-items: center;
}
#nav #hambuger_box div{
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      height: 23px;
      width: 100px;
      cursor: pointer;
      position: relative;
}
#nav #hambuger_box div span{
      display: block;
      width: 35px;
      height: 4px;
      border-radius: 15px;
      background-color: #333;
      transition: 0.5s;
      position: absolute;
      right: 0;
}
#nav #hambuger_box div span:first-child{
      top: 0;
}
#nav #hambuger_box div span:nth-child(2){
      top: 10px;
}
#nav #hambuger_box div span:last-child{
      top: 20px;
}
#nav #hambuger_box div.on span:first-child{
      transform: rotate(45deg);
      top: 10px;
}
#nav #hambuger_box div.on span:nth-child(2){
      width: 0;
}
#nav #hambuger_box div.on span:last-child{
      transform: rotate(-45deg);
      top: 10px;
}
/* nav 끝 */



/**/
.contBox{
      width: 1400px;
      height: 100%;
}
/**/


/* header */
#header{
      padding-top: 100px;
      height: 450px;
      overflow: hidden;
      position: relative;
      /*background: rgb(255,255,255);
      background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(249,250,252) 100%);
      background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(249,250,252) 100%);
      background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(249,250,252) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9fafc',GradientType=0 );*/
      background-color: #333;
}
.productMain{
      margin-bottom: 100px;
}
.productMain p{
      color: #aeaeae;
      font-size: 25px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 20px;
}
.productMain img{
      max-width: 700px;
      width: 100%;
}

/* header 끝 */


.titBox{
      margin-bottom: 50px;
}
.titSub{
      font-size: 30px;
      color: #333;
      font-weight: 500;
}
.titMain.vingo_font{
      font-size: 60px;
      font-weight: bold;
}
.titMain{
      font-size: 50px;
      font-weight: 900;
      margin: 5px 0;
}
.titInfo{
      color: #999;
      font-size: 18px;
}

/* sec01 */
#sec01{
      padding: 100px 0;
}
#sec01 .titBox{
      text-align: center;
}
.targetItem{
      background-color: #f1f1f1;
      border-radius: 10px;
      width: 300px;
      height: 300px;
      box-sizing: border-box;
      padding: 25px 30px;
      margin-right: 20px;
      margin-bottom: 20px;
}
.targetTxt{
      font-size: 25px;
      color: #999;
      font-weight: bold;
}
.targetTxt span{
      font-size: 30px;
      color: #333;
      font-weight: 900;
}
.targetIcon{
      text-align: center;
}
/* sec01 끝 */



/* sec02 */
#sec02{
      height: 1800px;
      padding: 100px 0;
      background: #F9FAFC;
}
.appContBox{
      margin: 0 auto;
      width: 800px;
      position: relative;
}
.appTxt{
      position: absolute;
      z-index: 1;
      font-weight: 900;
      font-size: 35px;
}
#appTxt01{left: 105px;top: 130px;}
#appTxt02{right: 40px;top: 670px;}
#appTxt03{left: 70px;top: 1180px;}
.appTxt .vingo_font{
      font-size: 50px;
}
.appTxt .mainTxt{
      font-size: 45px;
}
.appColor999{color: #999;}
.appColor666{color: #666;}
.appColor333{color: #333;}
.appColor000{color: #000;}
.appScreen{
      position: relative;
}
#appScreen01{text-align: right;top: 0}
#appScreen02{top: -180px;}
#appScreen03{text-align: right;top: -360px;}
.appScreen img{
      width: 350px;

}
/* sec02 끝 */

/* sec03 */
#sec03{
      padding: 100px 0;
}
#sec03 .titBox{
      text-align: center;
}
#sec03 .vingo_font{
      font-size: 60px;
}
.alarmScreenBox{
      position: relative;
    width: 850px;
    margin: 0 auto;
}
.alarmScreen img{
    width: 350px;
    
}
.alarmScreenTxt{
      position: absolute;
      top: 440px;
      left: 380px;
      font-size: 25px;
      font-weight: 500;
      color: #999;
}
.alarmScreenTxt span{
      font-weight: 900;
      color: #333;
      font-size: 30px;
}
/* sec03 끝*/

/* sec04 */
#sec04{
      padding: 100px 0;
      background-color: #F9FAFC;
}
.rmdScreenBox{
      width: 1000px;
}
.rmdScreenTxt{
      font-size: 18px;
      font-weight: 500;
      color: #999;
      padding: 10px;
}
.rmdScreenTxt span{
      font-weight: 900;
      color: #333;
}
/* sec04 끝 */



/* sec07 */
#sec07{
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      height: 30vh;
      overflow: hidden;
}
#sec07 .cont_box{
      max-width: 1400px;
      width: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
}
#sec07 .inquiry_btn{
      width: 250px;
      height: 70px;
      border: 6px solid #00b0ff;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
      display: flex;
      flex-flow: wrap row;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;
      box-shadow: 5px 5px 10px #aeaeae;
}
#sec07 .inquiry_btn span{
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: #00b0ff;
      transition: 0.5s;
      transition-timing-function: ease;
      opacity: 0;
}
#sec07 .inquiry_btn:hover span{
      width: 280px;
      height: 280px;
      opacity: 100;
}
#sec07 .inquiry_btn:hover p{
      color: #ffffff;
}
#sec07 .inquiry_btn p{
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: #00b0ff;
      z-index: 1;
      transition: 0.3s;
}
#sec07 .sec_sub{
      text-align: center;
}
/* sec07 끝 */

/* footer */
#footer{
      padding: 0 30px;
      background-color: #333;
      color: #ccc;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      height: auto;
      overflow: hidden;
}
#footer .cont_box{
      max-width: 1400px;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
}
#footer .cont_box .info_box{
      display: flex;
      flex-flow: wrap column;
      justify-content: space-between;
      font-size: 16px;
      margin: 30px 0;
}
#footer .cont_box .info{
      margin-bottom: 40px;
}
#footer .cont_box .info p{
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      line-height: 30px;
}
#footer .cont_box .info p span{
      display: block;
      width: 1.5px;
      height: 14px;
      background-color: #666;
      margin: 0 15px;
}
#footer .cont_box .footer_icon{
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      margin-bottom: 40px;
}
#footer .cont_box .footer_icon ul{
      width: auto;
      display: flex;
      flex-flow: wrap row;
      justify-content: center;
      align-items: center;
}
#footer .cont_box .footer_icon ul li img{
      width: 60px;
      margin: 0 10px;
}
#footer .cont_box .copyright{
      color: #999;
}
#footer .cont_box .cs_box{
      display: flex;
      flex-flow: wrap row;
      justify-content: center;
      align-items: center;
      height: 150px;
      margin-top: 30px;
}
#footer .cont_box .cs_box .cs a{
      display: flex;
      flex-flow: wrap row;
      align-items: center;
      justify-content: center;
      width: 100%;
}
#footer .cont_box .cs_box .cs#cs_tel{
      border-right: 1px solid #666;
      margin-right: 30px;
      padding-right: 30px;
}
#footer .cont_box .cs_box .cs_tit{
      font-size: 20px;
      font-weight: 400;
      margin-bottom: -5px;
      color: #fff;
}
#footer .cont_box .cs_box .cs_main{
      font-weight: bold;
      font-size: 30px;
      color: #fff;
}
#footer .cont_box .cs_box .cs_sub{
      font-size: 16px;
}    
#footer .cont_box .cs_box .cs img{
      width: 80px;
      margin-right:20px;
}
/* footer 끝 */


/************** 테블릿 반응형 ************/

@media all and (max-width:1024px){

      /**/
      .contBox{
            width: 95%;
            height: 100%;
            margin: 0 auto;
      }
      /**/

      /* nav */
      #nav{
            padding: 10px 30px;
      }
      /* nav 끝 */


      /* sec01 */
      .targetBox{
            width: 620px;
            margin:0 auto;
      }
      .targetBox .targetItem:nth-child(2){margin-right: 0;}
      .targetBox .targetItem:nth-child(4){margin-right: 0;}
      /* sec01 끝 */


      /* sec02 */
#sec02{
      height: 1950px;
      padding: 100px 0;
      background: #F9FAFC;
}
.appContBox{
      margin: 0 auto;
      width: 800px;
      position: relative;
}
.appTxt{
      position: absolute;
      z-index: 1;
      font-weight: 900;
      font-size: 35px;
}
#appTxt01{left: 105px;top: 130px;}
#appTxt02{right: 40px;top: 670px;}
#appTxt03{left: 70px;top: 1180px;}
.appTxt .vingo_font{
      font-size: 50px;
}
.appTxt .mainTxt{
      font-size: 45px;
}
.appColor999{color: #999;}
.appColor666{color: #666;}
.appColor333{color: #333;}
.appColor000{color: #000;}
.appScreen{
      position: relative;
}
#appScreen01{text-align: right;top: 0}
#appScreen02{top: -180px;}
#appScreen03{text-align: right;top: -360px;}
.appScreen img{
      width: 350px;

}
/* sec02 끝 */
      /* sec02 끝 */


      /* sec03 */
    
      .alarmScreenBox img{
            width: 45%;
            min-width: 200px;
      }
      .alarmScreenTxt{
            left: 45%;
            top: 480px;
      }
      /* sec03 끝*/

      /* sec04 */
      #sec04{
            padding: 100px 0;
            background-color: #F9FAFC;
      }
      .rmdScreenBox{
            width: 100%;
      }
      .rmdScreenBox img{
            width: 100%;
      }
      .rmdScreenTxt{
          font-size: 18px;
          font-weight: 500;
          color: #999;
          padding: 10px;
    }
    .rmdScreenTxt span{
          font-weight: 900;
          color: #333;
    }
    /* sec04 끝 */


       /* sec07 */
       #sec07{
            height: auto;
            padding: 100px 0;
      }
      #sec07 .cont_box{
            width: 100%;
      }
    
      /* sec07 끝 */

      /* footer */
      #footer{
            height:auto;
            padding-left: 30px;
      }
      #footer .cont_box{
            width: 100%;
            flex-flow: wrap column-reverse;
      }
      #footer .cont_box .info_box{
            width: auto;
      }
      #footer .cont_box .cs_box{
            justify-content: left;
            margin-bottom: 50px;
      }
      /* footer 끝 */

}

@media all and (max-width:500px){
      

      /* nav */
      #nav{
            padding: 10px 30px;
      }
      #nav #logo{
            width: 50%;
      }
      #nav #logo a{
            display: flex;
            flex-flow: wrap row;
            align-items: center;
      }
      #nav #logo img{
            width: 160px;
      }
      #nav #menu{
            border-top: 1px solid #f1f1f1;
            margin-top: 20px;
            padding-top: 10px;
            width: 100%;
            display: none;
      }
      #nav #menu li{
            text-align: right;
            padding: 10px 0px;
            border-right: none
      }
      #nav #hambuger_box{
            display: flex;
            flex-flow: wrap row;
            justify-content: center;
            align-items: center;
      }
      /* nav 끝 */


      /**/
      .contBox{
            width: 95%;
            margin: 0 auto;
            height: 100%;
      }
      /**/


      /* header */
      #header{
            padding-top: 100px;
            height: 350px;
      }
      .productMain p{
            font-size: 16px;
      }
      .productMain h2{
            text-align: center;
      }
      .productMain img{
            width: 95%;
      }

      /* header 끝 */

      .titSub{
            font-size: 20px;
      }
      .titMain.vingo_font{
            font-size: 40px;
      }
      .titMain{
            font-size: 30px;
      }
      .titInfo{
            font-size: 15px;
      }

      /* sec01 */
      #sec01{
            padding: 100px 0;
      }
      #sec01 .titBox{
            text-align: center;
      }
      .targetBox{
            width: 95%;
            margin:0 auto;
      }
      .targetItem{
            width: 100%;
            height: 150px;
            padding: 25px;
            margin-right: 0px;
            margin-bottom: 20px;
            justify-content: center;
      }
      .targetTxt{
            font-size: 18px;
            color: #999;
            font-weight: bold;
      }
      .targetTxt span{
            font-size: 25px;
            color: #333;
            font-weight: 900;
      }
      .targetIcon{
            text-align: right;
      }
      .targetIcon img{
            width: 70px;
      }
      /* sec01 끝 */



      /* sec02 */
      #sec02{
            height: 950px;
      }
      .appContBox{
            margin: 0 auto;
            width: 95%;
      }
      .appTxt{
            position: absolute;
            z-index: 1;
            font-weight: 900;
            font-size: 18px;
      }
      #appTxt01{left: 10%;top: 20px;font-size: 30px}
      #appTxt02{right: 20px;top: 325px;}
      #appTxt03{left: 20px;top: 580px;}
      .appTxt .vingo_font{
            font-size: 40px;
      }
      .appTxt .mainTxt{
            font-size: 25px;
      }
      .appColor999{color: #999;}
      .appColor666{color: #666;}
      .appColor333{color: #333;}
      .appColor000{color: #000;}
      .appScreen{
            position: relative;
      }
      #appScreen01{top: 0px;}
      #appScreen02{top: -100px;}
      #appScreen03{top: -200px;}
      .appScreen img{
            width: 50%;

      }
      /* sec02 끝 */

      /* sec03 */
      #sec03{
            padding: 100px 0 250px 0;
      }
    
      #sec03 .titBox{
            text-align: left;
            margin-bottom: 20px;
      }
    .alarmScreenBox{
          position: relative;
        width: 100%;
        margin: 0 auto;
    }
    .alarmScreenBox .alarmScreen{
        text-align: center
    }
      .alarmScreenBox .alarmScreen img{
            width: 80%;
    }
      #sec03 .vingo_font{
            font-size: 40px;
      }
      .alarmScreenBox{
            position: relative;
      }
      .alarmScreenTxt{
            position: absolute;
            top: 580px;
            left: 10px;
            font-size: 18px;
            font-weight: 500;
            color: #999;
      }
      .alarmScreenTxt span{
            font-weight: 900;
            color: #333;
            font-size: 25px;
      }
      /* sec03 끝*/

      /* sec04 */
      #sec04{
            padding: 100px 0;
            background-color: #F9FAFC;
      }
      #sec04 .titBox{
            margin-bottom: 10px;
      }
      #sec04 .titMain{
            font-size: 25px;
      }
      #sec04 .titMain .vingo_font{
            font-size: 35px;
      }
      .rmdScreen img{
            width: 100%;
      }
      .rmdScreenTxt{
            font-size: 18px;
            font-weight: 500;
            color: #999;
            padding: 10px;
      }
      .rmdScreenTxt span{
            font-weight: 900;
            color: #333;
            font-size: 25px;
      }
      /* sec04 끝 */



       /* sec07 */
       #sec07{
            height: 20vh;
      }
      #sec07 .cont_box{
            width: 100%;
      }
      #sec07 .inquiry_btn{
            width: 200px;
            height: 60px;
      }
      #sec07 .inquiry_btn span{
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-radius: 50%;
            background-color: #00b0ff;
            transition: 0.5s;
            transition-timing-function: ease;
            opacity: 0;
      }
      #sec07 .inquiry_btn:hover span{
            width: 280px;
            height: 280px;
            opacity: 100;
      }
      #sec07 .inquiry_btn p{
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            color: #00b0ff;
            z-index: 1;
            transition: 0.3s;
      }
      #sec07 .sec_sub{
            text-align: center;
            font-size: 15px;
      }
      /* sec07 끝 */

     
      /* footer */
      #footer{
            padding: 0 20px;
            height: auto;
      }
      #footer .cont_box .info_box{
            margin: 30px 0;
      }
      #footer .cont_box .info{
            font-size: 13px;
      }
      #footer .cont_box .info p span{
            margin: 0 10px;
      }
      #footer .cont_box .footer_icon ul li img{
            width: 40px;
      }
      #footer .cont_box .copyright{
            font-size: 13px;
      }
      #footer .cont_box .cs_box{
            height: auto;
            margin-top: 30px;
            margin-bottom: 0px;
            border-bottom: 1px solid #666;
            padding-bottom: 30px;
      }
      #footer .cont_box .cs_box .cs a{
            display: flex;
            flex-flow: wrap row;
            align-items: center;
            justify-content: flex-start;
      }
      #footer .cont_box .cs_box .cs#cs_tel{
            width: 100%;
            border-right: none;
            margin-right: 0px;
            margin-bottom: 20px;
            padding-right: 0px;
      }
      #footer .cont_box .cs_box .cs_tit{
            font-size: 18px;
      }
      #footer .cont_box .cs_box .cs_main{
            font-size: 25px;
      }
      #footer .cont_box .cs_box .cs_sub{
            font-size: 14px;
      }    
      #footer .cont_box .cs_box .cs img{
            display: none;
      }
      /* footer 끝 */

}